@font-face {
  font-family: 'kakao-Regular';
  src: url('../fonts/KakaoRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'kakao-Bold';
  src: url('../fonts/KakaoBold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../fonts/NotoSansKR-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'NotoSans-Light';
  src: url('../fonts/NotoSansKR-Light.otf') format('truetype');
}

body {
  font-family: 'kakao-Regular';
}

#section1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#section1 .slide {
  width: 100%;
  max-width: 1300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#section1 .slide #slide_img {
  display: flex;
  position: absolute;
  overflow: hidden;
  transition: 1s;
}

#section1 .slide #slide_img li a img{
  width: 100%;
} 

#section1 .slide .slide_btn {
  width: 100%;
  position: relative;
  z-index: 1000;
}

#section1 .slide .slide_btn .btn_left {
  display: inline-block;
  width: 100px;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  opacity: 0;
}

#section1 .slide .slide_btn .btn_right {
  display: inline-block;
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  opacity: 0;
}

#section1 .slide .slide_btn .btn_left:hover,
#section1 .slide .slide_btn .btn_right:hover {
  opacity: 1;
}

#section1 .notice {
  margin: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#section1 .notice .rolling_box {
  width: 750px;
  height: 40px;
  text-align: center;
  margin-left: 30px;
}

#section1 .notice .rolling_box ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.rolling_box ul li {
  width: 100%;
  height: 100%;
  transition: .5s;
  position: absolute;
  transition: top .75s;
  top: 100%;
  z-index: 1;
  background-color: #ffffff;
}

.rolling_box ul li.notice_card {
  top: 0 !important;
  z-index: 100 !important;
}

.rolling_box ul li.notice_card_after {
  top: -100% !important;
  z-index: 10 !important;
}

.rolling_box ul li a {
  display: inline-block;
  width: 100%;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.before_slide {
  transform: translateY(100%);
}

.after_slide {
  transform: translateY(0);
}

#section2 .sec_title {
  text-align: center;
}

#section2 nav {
  padding-top: 100px;
  font-family: 'NotoSans-Bold';
  overflow:hidden;
}

#section2 nav div p {
  font-family: 'NotoSans-Light';
}

#section2 nav .box1 {
  background-color: #1A2CD3;
  color: white;
}

#section2 nav .box2 {
  background-image: url(../images/nav_img2.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

#section2 nav .box3 {
  background-image: url(../images/nav_img3.png);
  background-size: cover;
  background-position: center;
  color: white;
}

#section2 nav .box4 {
  background-color: #FFE730;
}

#section2 nav>div {
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}

#section2 nav>div>h3 {
  position: relative;
  z-index: 100;
  text-shadow: 1px 1px 1px black;
}

#section2 nav>div p {
  position: relative;
  z-index: 100;
  text-shadow: 1px 1px 1px black;
}

#section2 nav>div>div {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 50px;
  position: absolute;
  bottom: 20px;
}

#section2 nav .box4>div {
  border: 1px solid black;
}

#section2 nav>div>div p {
  display: inline;
  text-shadow: none;
}

#section2 nav .box1 img {
  position: absolute;
  top: -80px;
}

#section2 nav .box4 img {
  position: absolute;
  bottom: 0px;
}

#section2 nav .box2>div .tri {
  width: 0px;
  height: 0px;
  border-top: 10px solid none;
  border-bottom: 15px solid red;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 10px;
  left: 100px;
}

#section2 nav .box2>div .won {
  position: absolute;
  right: 10px;
}

#section2 nav>div .arr_box {
  display: inline;
}

#section2 nav>div .arr_box span.arr_1 {
  display: inline-block;
  width: 50px;
  height: 2px;
  background: white;
  position: relative;
  bottom: 6px;
}

#section2 nav>div.box4 .arr_box span.arr_1 {
  background: black;
}

#section2 nav>div .arr_box span.arr_1::after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  top: -5px;
}

#section2 nav>div.box4 .arr_box span.arr_1::after {
  border-top: 2px solid black;
  border-right: 2px solid black;
}

#section3 h2 {
  margin: 100px 0 20px;
  text-align: center;
  font-size: 80px;
}

#section3 #tag_box {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: space-around;
}

#section3 #tag_box>label {
  width: 148px;
  height: 44px;
  border-radius: 50px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  position: relative;
  right: 0px;
  bottom: 0px;
}

#section3 #tag_box>label input {
  display: none;
}

#section3 #tag_box>label p {
  display: inline;
  margin-left: 5px;
}

#section3 #game_box {
  display: flex;
  height: 820px;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-around;
}

#section3 #game_box li {
  width: 300px;
  height: 410px;
  position: relative;
}

#section3 #game_box li h4 {
  font-size: 20px;
  margin: 5px 0;
}

#section3 #game_box li div {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
}

#section3 #game_box li div p {
  display: inline;
  margin-left: 5px;
}

#section3 #more_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 52px;
  font-size: 24px;
  margin: 0 auto;
  border: 1px solid;
}

#section3 #tag_box>label:hover {
  background-color: #FFE730;
  box-shadow: 2px 2px 2px black;
  position: relative;
  right: 2px;
  bottom: 2px;
}

#section3 #more_box:hover {
  background-color: #FFE730;
  cursor: pointer;
}

#section3 #tag_box>label.backcolor {
  background-color: #FFE730;
  box-shadow: 2px 2px 2px black;
  position: relative;
  right: 2px;
  bottom: 2px;
}

#section4 {
  display: flex;
  align-items: center;
  text-align: center;
}

#section4 h2 {
  margin: 100px 0 20px;
  text-align: center;
  font-size: 80px;
}

#section4 .tabs_box {
  display: flex;
  font-size: 40px;
  justify-content: center;
  margin: 40px 0;
}

#section4 .tabs_box h3 {
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}

#section4 .tabs_box h3 .line {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffb000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#section4 .tabs_box h3:first-child .line {
  width: 100%;
  left: 0;
}

#section4 .tab {
  display: none;
}

#section4 #tab1 {
  display: block;
}

#section4 .tab h4 {
  font-size: 30px;
  margin-bottom: 15px;
}

#section4 .tab>p {
  font-size: 25px;
}

#section4 .tab ul {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

#section4 .tab ul li {
  margin: 0 30px;
}

#section4 .tab ul li p {
  font-size: 20px;
}

#section4 .tab .tab_box h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

#section4 .tab .tab_box p {
  font-size: 15px;
}

#section4 .tab .tab_box .tab_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 52px;
  font-size: 24px;
  margin: 30px auto;
  border: 1px solid;
}

#section4 .tab .tab_box .tab_btn:hover {
  background-color: #FFE730;
}

#section5 {
  text-align: center;
  margin-bottom: 100px;
}

#section5 h2 {
  margin: 100px 0 20px;
  text-align: center;
  font-size: 80px;
}

#section5 iframe {
  width: 560px;
  height: 315px;
}

#section5 h3 {
  font-size: 30px;
  margin: 20px 0;
}

#section5 .welfare_box {
  width: 852px;
  margin: 0 auto;
}

#section5 .welfare_box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#section5 .welfare_box ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 190px;
  height: 190px;
  margin-bottom: 20px;
  border-radius: 50%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

#section5 .welfare_box ul li:hover {
  transform: rotateY(180deg);
}

#section5 .welfare_box ul li.icon_label:hover {
  transform: none;
}

#section5 .welfare_box ul li.icon_label {
  background-color: #FFE730;
}

#section5 .welfare_box ul li .front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#section5 .welfare_box ul li .front h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

#section5 .welfare_box ul li .front p {
  font-size: 12px;
  font-weight: 900;
}

#section5 .welfare_box ul li .back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 11px;
  background-color: #FFE730;
  border-radius: 50%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

#section5 .welfare_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 52px;
  font-size: 24px;
  font-weight: 900;
  margin: 0 auto;
  border: 1px solid;
}

#section5 .welfare_btn:hover {
  background-color: #FFE730;
  cursor: pointer;
}

footer {
  display: flex;
  background-color: #333;
  color: white;
  padding: 40px 0;
}

footer .left {
  float: left;
}

footer .left span {
  font-family: 'kakao-Bold';
}

footer .right {
  display: inline-block;
}

footer .right .footer_1 {
  display: flex;
}

footer .right .footer_2 {
  display: flex;
}

footer .right .footer_3 {
  display: flex;
}

footer .right div>span {
  margin: 0 10px;
}

@media (min-width:1025px) {
  .inner {
    max-width: 1300px;
    margin: 0 auto;
  }

  #section1 .slide #slide_img li{
    width: 1300px;
  }

  #section1 .slide .m_slide{
    display: none;
  }

  #section1 .slide .slide_btn {
    height: 600px;
  }

  #section1 .notice h2{
    font-size: 41px;
  }

  #section1 .notice .rolling_box{
    width: 700px;
  }

  .rolling_box ul li a{
    font-size: 25px;
  }

  #section2 .sec_title h3 {
    font-size: 60px;
    margin: 28px 0;
  }
  
  #section2 .sec_title p {
    font-size: 24px;
  }

  #section2 nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #section2 nav>div {
    width: 500px;
    height: 300px;
  }

  #section2 nav>div>h3 {
    font-size: 36px; }
  
  #section2 nav>div p {
    font-size: 21px;
   }
   
   #section2 nav>div>div {
    width: 174px;
    height: 35px;
    padding: 6px 10px;
    line-height: 21px;
    bottom: 20px;
  }

  #section2 nav .box1 img {
    width: 310px;
    right: 0;
  }
  
  #section2 nav .box4 img {
    right: -67px;
  }

  #section4 .tab ul li img {
    width: 150px;
    margin-bottom: 15px;
  }

  footer .left {
    margin-right: 40px;
    margin-left: 20px;
    font-size: 24px;
  }

  footer .right {
    margin-right: 20px;
  }

  footer .right .footer_2 {
    margin-top: 10px;
  }

  footer .right .footer_3 {
    margin-bottom: 10px;
  }


}

@media (max-width:1024px) and (min-width:768px) {
  .inner {
    max-width: 960px;
    margin: 0 auto;
  }

  #section1 .slide #slide_img li{
    width: 960px;
    height: 443px;
  }

  #section1 .slide .m_slide{
    display: none;
  }

  #section1 .slide .slide_btn {
    height: 443px;
  }

  #section1 .notice h2{
    font-size: 33px;
  }

  #section1 .notice .rolling_box{
    width: 500px;
  }

  .rolling_box ul li a{
    font-size: 25px;
  }

  #section2 .sec_title h3 {
    font-size: 60px;
    margin: 28px 0;
  }
  
  #section2 .sec_title p {
    font-size: 24px;
  }

  #section2 nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #section2 nav>div {
    width: 370px;
    height: 222px;
  }

  #section2 nav>div>h3 {
    font-size: 24px; 
  }
  
  #section2 nav>div p {
    font-size: 16px;
   }
   
   #section2 nav>div>div {
    width: 150px;
    height: 35px;
    padding: 6px 10px;
    line-height: 21px;
    bottom: 20px;
  }

  #section2 nav .box2>div .tri {
    left: 80px;
  }

  #section2 nav .box1 img {
    width: 252px;
    right: 0;
  }
  
  #section2 nav .box4 img {
    width: 220px;
    right: -67px;
  }

  #section3 #tag_box {
    width: 100%
  }

  #section4 .tab ul li img {
    width: 90px;
    margin-bottom: 15px;
  }

  #section4 .tab ul li p{
    font-size: 15px;
  }

  #section5 .welfare_box{
    width: 100%
  }

  footer{
    padding: 40px 20px;
  }

  footer .left {
    font-size: 24px;
    margin-bottom: 20px;
  }

  footer .right {
    font-size: 14px;
  }

  footer .right .footer_2 {
    margin-top: 10px;
  }

  footer .right .footer_3 {
    margin-bottom: 10px;
  }

}

@media (max-width:767px) {
  .inner {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }

  #section1 .slide{
    width: 300px;
  }

  #section1 .slide #slide_img2 {
    display: flex;
    position: absolute;
    overflow: hidden;
    transition: 1s;
  }
  
  #section1 .slide #slide_img2 li{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
  }

  #section1 .slide #slide_img2 li a img{
    width: 100%;
  } 

  #section1 .slide .w_slide{
    display: none;
  }

  #section1 .slide #slide_img{
    display: none;
  }

  #section1 .slide .slide_btn {
    height: 300px;
  }

  #section1 .notice {
    flex-direction: column;
    width: 100%;
  }

  #section1 .notice h2{
    font-size: 35px;
  }

  #section1 .notice .rolling_box{
    width: 100%;
  }

  .rolling_box ul li a{
    font-size: 25px;
  }

  #section1 .slide .slide_btn .btn_left {
    width: 50px;
  }

  #section1 .slide .slide_btn .btn_right {
    width: 50px;
  }

  #section2 .sec_title h3 {
    font-size: 40px;
    margin: 20px 0;
  }
  
  #section2 .sec_title p {
    font-size: 19px;
  }

  #section2 nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #section2 nav>div {
    width: 100%;
    height: 140px;
    padding: 10px;
  }

  #section2 nav>div>h3 {
    font-size: 14px; 
  }
  
  #section2 nav>div p {
    font-size: 14px;
   }
   
   #section2 nav>div>div {
    width: 150px;
    height: 35px;
    padding: 6px 10px;
    line-height: 21px;
    bottom: 10px;
  }

  #section2 nav .box2>div .tri {
    left: 80px;
  }

  #section2 nav .box1 img {
    width: 252px;
    right: 0;
  }
  
  #section2 nav .box4 img {
    width: 220px;
    right: 0px;
  }

  #section3 h2 {
    font-size: 50px;
  }

  #section3 #tag_box {
    width: 100%
  }

  #section3 #tag_box>label {
    width: 85px;
    height: 34px;
    margin-bottom: 12px;
    position: relative;
    right: 0px;
    bottom: 0px;
    font-size: 12px;
  }

  #section3 #tag_box>label img{
    width: 15px;
  }

  #section3 #game_box {
    height: 440px;
  }
  
  #section3 #game_box li {
    width: 150px;
    height: 220px;
    position: relative;
  }

  #section3 #game_box li img{
    width: 100%;
  }
  
  #section3 #game_box li h4 {
    font-size: 15px;
    margin: 5px 0;
  }

  #section3 #game_box li p{
    font-size: 11px;
  }
  
  #section3 #game_box li div {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
  }

  #section3 #game_box li div img{
    width: 15px;
  }
  
  #section3 #game_box li div p {
    display: inline;
    margin-left: 5px;
  }

  #section4 h2 {
    font-size: 50px;
  }

  #section4 .tabs_box {
    font-size: 19px;
    margin: 40px 0;
  }

  #section4 .tab ul li {
    margin: 0 10px;
  }

  #section4 .tab ul li img {
    width: 50px;
    margin-bottom: 15px;
  }

  #section4 .tab ul li p{
    font-size: 15px;
  }

  #section4 .tab .tab_box h5 {
    font-size: 16px;
  }
  
  #section4 .tab .tab_box p {
    font-size: 13px;
  }

  #section5 h2 {
    font-size: 50px;
  }

  #section5 iframe {
    width: 100%;
    height: 315px;
  }

  #section5 .welfare_box{
    width: 100%
  }


  footer{
    padding: 40px 20px;
  }

  footer .left {
    font-size: 24px;
    margin-bottom: 20px;
  }

  footer .right {
    font-size: 10px;
  }

  footer .right .footer_1 span{
    margin: 0 2px;
  }

  footer .right .footer_2 {
    margin-top: 10px;
  }

  footer .right .footer_3 {
    margin-bottom: 10px;
  }
}